* {
  margin: 0;
  padding: 0;
  font-family: "arial";
}

html {
  background-color: #e7f5f3;
}

#sectionInfosPositions {
  padding: 15px;
}

h1 {
  font-family: "Comic Sans MS";
  padding: 20px;
  margin: 20px;
  background-color: #35d0ba;
  color: whitesmoke;
}

.fzInfoPositions {
  font-size: 14px;
  text-align: justify;
}

#instructions {
  font-family: "american typewriter";
  padding: 20px;
  margin: 20px;
}

.débutTxt {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-family: "Comic Sans MS";
  margin-bottom: 4px;
  background-color: #002f35;
  color: whitesmoke;
}

#sectionInputs {
  padding: 10px;
  margin: 20px 10px;
}

#gameContainer {
  display: flex;
  /* width: 100vw; */
  justify-content: space-evenly;
  gap: 7em;
  padding: 0 2em;
}

#scrollDiv {
  height: 500px;
  width: 504px;
  overflow-y: scroll;
}

#superDiv {
  height: 800px;
  width: 500px;
  border: 2px dotted black;
  background-image: url(./images/oranges2-optim.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#winnerDiv {
  position: relative;
  width: 80px;
  height: 80px;
  top: 50px;
  left: 50px;
  border: 2px ridge black;
  background-color: #93f5cf;
}

h3 {
  font-family: "Comic Sans MS";
  margin-top: 16px;
  margin-bottom: 3px;
}

.mySelectors {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.selectory {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.hwinput {
  width: 45px;
  margin-right: 4px;
  margin-left: 4px;
  border-style: none;
}

#youpie {
  margin: 30px;
}

#userDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* display flex va s'appliquer à l'element. 
Grace aux bask stick que j'ai introduit dans le js */

.btn {
  border-style: none;
  color: whitesmoke;
  background-color: #35d0ba;
  width: 40px;
}

label {
  margin-right: 4px;
}

select {
  border-style: none;
  height: 20px;
}
